.root {
  height: 600px;
  position: relative;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: #fff;
  font-size: 40px;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.2;
  padding: 0 0 0 0;
  position: relative;
  width: 400px;
}
.text {
  color: #fff;
  padding: 16px 0 56px 0;
  position: relative;
  display: block;
  width: 500px;
  line-height: 1.8;
  font-size: 14px;
}
.link {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  color: #0c1a24;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 56px;
  justify-content: space-between;
  padding: 0 32px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  width: 150px;
}
.link:hover {
  box-shadow: 0 1px 5px #777;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .content {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
  }
  .heading {
    width: 100%;
    box-sizing: border-box;
  }
  .text {
    width: 100%;
    font-weight: 500;
    padding: 16px 48px 56px 0;
    box-sizing: border-box;
  }
}
